/*MAIN BODY*/
body {
	background-color: black;
}

.logo {
	top: 40px;
	left: 725px;
	position: absolute;	
}

/*MENU*/

.radar, .tempo, .discover, .about{
	font-family: 'Krona One', sans-serif;
	color: white;
	font-size: 20px;
	cursor: pointer;
	position: absolute;
	text-decoration: none;
	
}

.radar {
	top: 670px;
	left: 40px;
}
  
.tempo {
	left: 40px;
	top: 40px;
}

.discover {
	right: 40px;
	top: 40px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
}

.about {
	right: 40px;
	top: 670px;
}


/*MAIN PANEL*/
.panel {
	position: absolute;
	left: 130px;
	top: 120px;
	width: 1180px;
	height: 500px;
  	background-image: linear-gradient(90deg, blue, red);	
}

/*SEARCH BAR*/
